
<section class="corpo">
<div class="container py-5 h-100">
<form class="row g-3">
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Email</label>
      <input type="email" class="form-control" id="inputEmail" placeholder="exemplo@dominio.com">
    </div>
    <div class="col-md-6">
      <label for="inputPassword4" class="form-label">Senha</label>
      <input type="password" class="form-control" id="inputSenha">
    </div>
    <div class="col-6">
      <label for="inputAddress" class="form-label">Nome</label>
      <input type="text" class="form-control" id="inputNome" >
    </div>
    <div class="col-6">
      <label for="inputAddress2" class="form-label">SobreNome</label>
      <input type="text" class="form-control" id="inputSobreNome" >
    </div>
    <div class="col-md-4">
      <label for="inputCity" class="form-label">CPF</label>
      <input type="text" class="form-control" id="inputCPF">
    </div>
    <div class="col-md-4">
      <label for="inputState" class="form-label">Data de Nascimento</label>
      <input type="date" class="form-control" id="inputDataNascimento">
    </div>
    <div class="col-md-3">
      <label for="inputZip" class="form-label">Telefone/Celular</label>
      <input type="text" class="form-control" id="inputTelefone" placeholder="(99) 9 9999-9999">
    </div>
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Check me out
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Cadastrar</button>
      </div>
      <div class="col-2">
        <a routerLink="/home"><button class="btn btn-danger btn-lg btn-block" type="submit">Voltar</button></a> 
      </div>
    </div>
  </form>
</div>
</section>
<app-footer class="fixed-bottom"></app-footer>