.retangulo{
  margin-left: 15px;
  width: 98%;
  background-color: silver;
  height: 100px;
  border-radius:7px;

}

.foto{
  height: 50px;
}

.imgLocalizacao{
  padding-top: 15px;
  padding-left: 15px;
  height: 50;
  border-radius: 90%;
}

.boraLateralFi{
margin-top: 15px;
}

