.retangulo{
  margin-left: 15px;
  width: 98%;
  background-color: rgba(0, 0, 255, 0.364);
  height: 100px;
  border-radius:7px;

}

.foto{
  height: 50px;
}

.imgLocalizacao{
  padding-top: 15px;
  padding-left: 15px;
  height: 50;
  border-radius: 90%;
}

.boraLateralFi{
  display: flex;
}
.boraEsquerda{
  margin-right: 4%;
}

.InfoLocalizacao{
  font-size: larger;
  margin-top: 15px;
  margin-left: 50px;
  padding: 5px;
  width: auto;
  height: fit-content;
  background-color: whitesmoke;
  border-radius: 5%;
}

.InfoLocalizacao1{
  margin-top: 15px;
  margin-left: 25%;
  width: 50%;
  height: 70px;
  background-color: whitesmoke;
  border-radius: 5%;

}

.InfoLocalizacao2Texto{
padding: 4px;
  margin-top: px;
font-size: larger;
}
