<app-navbar></app-navbar>
<br />
<div class="container-fluid">
  <div class="row">
    <div class="col-sm"></div>
    <div class="col-sm">
      <img
        class="logo img-fluid mx-2"
        src="../../assets/images/CastEvents.png"
        alt="Logo CastEvents"
      />
      <div class="sobreNos">
        <br />
        Sobre Nós
      </div>

      <div class="blocoTexto">
        A empresa nasceu no Grupo de amigos!!!<br />
        "lutando" para desenvolver processos de melhorias na venda de ingressos!

        <br /><br />
        <h5 align="center">Eis que vós apresento!</h5>

        <main>
          <h4 align="center"><b class="castEvents">Cast Events!!!</b></h4>
        </main>

        Empresa especializada na venda de ingressos On-line!
        <br>
        <b>Cast Events</b> está revolucionando o mercado que pertence e tem agregado mais valor não só a própria empresa como também aos usuários, que antes reclamavam pela demora e o mal atendimento. <br>
        Hoje, é Exemplo de <b><i>melhoria e satisfação ao cliente</i></b>!!!
      </div>
    </div>
    <div class="col-sm"></div>
  </div>
</div>

<app-footer class="fixed-bottom"></app-footer>
