@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

.centralizar{
  margin-left: 50%;
}

.blocoTexto{

  padding: 15px;
  background-color: rgb(221, 221, 221);
  border-radius: 5%;
  text-align: justify;
  justify-content: end;
  font-family: 'Roboto', sans-serif;

}

.sobreNos{
  font-size: 30px;
  font-weight: 500;
  font-family: 'Bree Serif', serif;
  margin-top: 1cm;
}
.castEvents{
  color: rgb(41, 41, 207);
}


