<app-navbar></app-navbar>
<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm"><img class="logo img-fluid mx-2" src="../../assets/images/CastEvents.png" alt="Logo CastEvents">
      <div class="blocoTexto"> A empresa nasceu no Grupo de amigos!!!<br>
      lutando para desenvolver algo para agilizar no processo de vendas de ingressos aos Eventos!</div>



    </div>
    <div class="col-sm">
    </div>

  </div>



</div>

<app-footer class="fixed-bottom"></app-footer>
