<app-navbar></app-navbar>
<section class="corpo">
  <div class="container py-5 h-100">
    <form class="row g-3" [formGroup]="formulario" (ngSubmit)="EnviarFormulario()">
      <div class="col-10">
        <label for="inputAddress" class="form-label">Nome</label>
        <input type="text" class="form-control" id="inputNome" formControlName="nome">
      </div>
      <div class="col-2">
        <label for="inputAddress" class="form-label">Capacidade</label>
        <input type="number" class="form-control" id="inputCapacidade" formControlName="capacidadeTotal">
      </div>
      <div class="col-12">
        <label for="inputAddress2" class="form-label">URL da Imagem</label>
        <input type="text" class="form-control" id="inputImagemURl" formControlName="imagemUrl">
      </div>
      <div class="col-md-4">
        <label for="inputState" class="form-label">Data do Evento</label>
        <input type="date" class="form-control" id="inputDataEvento" formControlName="data">
      </div>
      <div class="col-md-4">
        <label for="inputCity" class="form-label">Descrição</label>
        <input type="text" class="form-control" id="inputCPF" formControlName="descricao">
      </div>
      <div class="col-md-4">
        <label for="inputCity" class="form-label">Valor Ingresso</label>
        <input type="number" class="form-control" id="inputCPF" formControlName="valorIngresso">
      </div>
      <div class="d-flex flex-row-reverse">
        <div class="mx-1">
          <button type="submit" class="btn btn-primary my-2">Cadastrar</button>
        </div>
        <div class="mx-1">
          <button class="btn btn-danger btn-block my-2" type="reset">Limpar</button>
        </div>
        <div class="mx-1">
          <a routerLink="/home">
            <button class="btn btn-secondary  btn-block my-2" type="">Voltar</button></a>
        </div>
      </div>
    </form>
  </div>
</section>

<table class="table">
  <thead style="background: #242424; color: #F2F2F2;">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Capacidade Total</th>
      <th scope="col">Descrição</th>
      <th scope="col">Data</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let evento of eventos">
      <th scope="row">{{evento.id}}</th>
      <td>{{evento.nome}}</td>
      <td>{{evento.capacidadeTotal}}</td>
      <td>{{evento.descricao}}</td>
      <td>{{evento.data}}</td>
      <td>
        <button type="button" class="btn btn-primary btn-sm me-1" (click)="EditaEvento(evento.id)">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill"
            viewBox="0 0 16 16">
            <path
              d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
          </svg>
        </button>

        <button type="button" class="btn btn-danger btn-sm" (click)="ExcluiEvento(evento.id)">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill"
            viewBox="0 0 16 16">
            <path
              d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
          </svg>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<app-footer class="fixed-bottom"></app-footer>
