@import url('https://fonts.googleapis.com/css2?family=Bitter:ital@1&family=Bree+Serif&display=swap');

.espaco{
padding-top: 70px;
}

.entreBotoes{
  margin-left: 1cm;
  margin-top: 2px;
}



.fundoForm{
  background-color: lightblue;
}
.TextoPrecisaAjuda{
  font-size: larger;
  font-family: 'Bitter', serif;
  font-family: 'Bree Serif', serif;
  color: lightsalmon;
  color: blue;
}
.Boneco{
  width: 60%;
  height: 60%;
}
.imgBoneco {
   flex: auto;
  padding-top: 40px;
  padding-left: 40%;
  width:100%;

}
.fundo{

  width: 100%;
  height: 50%;
  border-radius: 20px;
  background-color: rgb(236, 236, 236);

}

.campoDireitaSuperior{
  justify-items: center;
  align-items: middle;
  font-family: 'Bitter', serif;
  font-family: 'Bree Serif', serif;
  font-size: x-large;
  position: absolute;
  top:25%;
}

.campoDebaixo{
  display: flex;
  align-items: center;
  width: fit-content;
  background-color: antiquewhite;
  padding-top: 10%;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;

}
