<section>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <img src="{{evento.imagemUrl}}" alt="Imagem do Evento" style="max-height: 80vh;">
            </div>
            <div class="col-8">
                <h3>{{evento.nome}}</h3>
                <br>
                <p>{{evento.ingressosDisponiveis}}</p>
                <br>
                <h5>R$ {{evento.valorIngresso}}</h5>
                <div [formGroup]="formulario">
                  <h5 class="d-inline">Quantidade:</h5>
                  <input formControlName="quantidadeIngresso" type="number" class="d-inline">
                </div>
                <br>
                <h4>Total: </h4> <button class="btn btn-success" (click)="EnviaFormulario()">Finalizar Compra</button>

            </div>
        </div>
    </div>
</section>

<app-footer class="fixed-bottom"></app-footer>
