<section>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="row"> 
            <div class="col-4">
                <img src="#" alt="Imagem do Evento">
            </div>
            <div class="col-8">
                <h3>Aqui vai o nome do Evento</h3>
                <p>Aqui vai o Local</p>
                <br>
                <p>qtdIngressosVendidos nas ultimas horas</p>
                <br>
                <h5>Aqui vai o preço</h5> <h5>Aqui o campo de quantidade dos ingressos</h5>
                <br>
                <h4>Total: </h4> <button class="btn btn-success">Finalizar Compra</button>

            </div>
        </div>
    </div>
</section>

<app-footer class="fixed-bottom"></app-footer>
